@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(122, 90, 90);
}

h2{
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
 
  color: blue;
}

table th{
    color: brown;
}

table tr:nth-child(even){
    background: rgb(165, 211, 224);
}

